{{!-- {{#each this}} --}}
<div class="container-{{this}} container container-st-p">
	<div class="header-onsale-cont">

		<button type="button" class="left-button-st-p swiper-button-prev" data-left>
			<span class="material-icons">
				chevron_left
			</span>
		</button>

		<span>
			<h1 class="cont-name-{{this}} category-title">{{category}}</h1>
		</span>
		{{!-- <span class="devider">|</span>

		<span class="">
			<h1 class="cont-name-{{this}} category-title title-second-word">{{category}}</h1>
		</span> --}}
		<a class="link show-all" href="../category-chosen.html"><span class="current-page">Дивитися всі</span>
		</a>

		<button type="button" class="right-button-st-p swiper-button-next" data-right>
			<span class="material-icons">
				chevron_right
			</span>
		</button>

	</div>

	<div class="swiper-{{this}} swiper-container">
		<ul class='cont-initial-{{this}} catigories-container js-catigories swiper-wrapper'></ul>
	</div>
</div>
{{!-- {{/each}} --}}